/* pico defaults to a clean starting point, so only minor tweaks below. */

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  display: flex;
  align-items: center;
}

.controls {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.component-container {
  margin: 1rem 0;
  background-color: var(--neutral-100);
  padding: 1rem;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
}